<%= form_with(model: observation, data: { controller: 'validation' }, local: false, id: observation.id, class: 'inline-form') do |form| %>
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="far fa-comment-alt-lines"></i></span>
    </div>
    <%= form.text_field :text, class: 'form-control', placeholder: :text, required: true %>
    <div class="input-group-append">
      <%= form.button :submit, class: 'btn btn-default' do %>
        <i class="far fa-comment-alt-edit"></i>
      <% end %>
    </div>
  </div>
<% end %>