<h1 style="font-family: 'Comfortaa', cursive;">Welcome to Accell!</h1>
<div class="contents" style="font-family: 'Inter', sans-serif;">
	<p>
	  You have been signed up by your school on the Accell platform. You can log in at link with the following credentials:
	</p>
	<dl>
		<dt><strong>E-mail: </strong></dt><dd><%= @user.email %></dd>
		<dt><strong>One-time password: </strong></dt><dd><samp style="font-family: 'Space Mono', monospace;"><%= @user.profile.initial_password %></samp></dd> 
	</dl>
	<p>You will have to change your password after your first login.</p>

	<p>Thank you!<br>The Accell Team</p>
</div>