.table-action {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #adb5bd;
}

table.dataTable tbody > tr.selected {
	color: white !important;
}

tr.selected a {
	color: white !important;
}

.input-group-select2 {
    z-index: 1000;
    position: absolute;
    top: 7px;
    left: 1px;
}

.select2-selection__rendered {
	padding-left: 30px !important;
	color: #b5b5b5 !important;
    font-size: 0.9em !important;
    padding-top: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #b5b5b5 !important;
}

.select2-dropdown {
    padding: 0.5rem 0;
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
    border-radius: 0.4375rem !important;
}

.select2-selection.select2-selection--single,
.select2-selection.select2-selection--multiple {
	border: none;
}

.select2-dropdown--below {
	top: 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: var(--dark);
    background-color: var(--lighter);
}

.select2-results__option[aria-selected="true"] {
    background-color: var(--lighter) !important;
}

.table-avatar {
    background-position: center;
    background-size: cover;
}

samp {
    font-family: 'Space Mono';
    background-color: #f6f9fc;
    color: #212529;
    border-radius: 0.375rem;
    padding: .3em .5em;
}

samp.dark {
    background-color: #444a51;
    color: #f6f9fc;
}

.btn-check-color, .btn-check-icon, .btn-check-day {
    display: none;
}

.custom-toggle-large {
    width: 90px;
}

.custom-toggle-slider:before {
    left: 2.5px;
    bottom: 1.5px;
}

.custom-toggle-large input:checked + .custom-toggle-slider:before {
    transform: translateX(65px);
}

.custom-toggle-large .custom-toggle-slider:after {
    width: 60px;
}

.font-100, .text-100 {
    font-size: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.align-items-center {
    align-items: center;
}

.form-media {
    border: 1px black;
}

.star-floating .badge-floating {
    position: absolute;
    top: 36px;
    left: 64px;
}

.topnav-profile-badge {
    position: absolute;
    top: -3px;
    left: 36px;
}

.width-height-150 {
    width: 150px;
    height: 150px;
}

.list-item-right {
    float: right;
    margin-right: 10px;
}

.modal select.form-control:not(:first-child) { // Add padding-left to modal selects
    padding-left: 40px;
}

// Make select2 work with input-group-append
.input-group-has-append > .select2-container--default {
    width: auto !important;
    flex: 1 1 auto;
}

.input-group-has-append > .select2-container--default .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}
